#main-section {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  max-height: 80vh;
}

@media screen and (max-width: 768px) {
  #main-section {
    margin: 10px;
    justify-content: center;
  }
}
