#navBar.hide {
  display: none;
}

#navBar.show {
  display: flex;
  position: fixed;
  left: 70%;
}

.burger-box {
  padding-right: 2%;
}
.burger-box-button {
  display: flex;
  flex-direction: column;

  .pokeball-menu-top,
  .pokeball-menu-bottom {
    width: 6rem;
    height: 3rem;
  }
}
