.filtres-box {
  font-family: $main-font-family;
  background-color: $secondary-color;
  box-shadow: $pixel-box-shadow;
  max-width: 80%;
  margin: 10px 10% 0px 10%;
  padding: 10px;

  .filtres-title {
    text-align: center;
    margin-bottom: 5px;
  }
}
