.header-wallpaper {
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 25vh;
  background-image: url(../assets/images/landscapeheader.jpg);
  background-position: 5% 63%;
  opacity: 0.5;
}

#header {
  display: flex;
  width: 100%;
  max-height: 150px;
  min-height: 80px;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;

  #pika {
    height: 18vh;
    z-index: -1;
    position: relative;
    margin-top: 20px;
    animation: flip-translate 15s ease-in-out infinite;
  }

  @keyframes flip-translate {
    0% {
      transform: translateX(0px) rotateY(0deg);
    }
    45% {
      transform: translateX(88vw) rotateY(0deg);
    }
    50% {
      transform: translateX(88vw) rotateY(180deg);
    }
    95% {
      transform: translateX(0px) rotateY(180deg);
    }
    100% {
      transform: translateX(0px) rotateY(0deg);
    }
  }

  #logo {
    margin: 20px auto;
    width: 20%;
    min-width: 300px;
  }

  @media screen and (max-width: 820px) {
    #header {
      justify-content: center;
    }

    #pika {
      width: 6rem;
      margin-left: 10px;
      animation: none;
      display: none;
    }

    #logo {
      margin: 20px auto;
      width: 40%;
      min-width: 160px;
    }
  }
  .togglebutton {
    display: none;
  }
}
