.landscape-gif-box,
.filtres-box {
  font-family: $main-font-family;
  box-shadow: $pixel-box-shadow;
  width: 100%;
  max-height: 25vh;
  margin-top: 1rem;
}

#intro-filtres-box {
  background-color: $primary-color;
  max-width: 23%;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: $main-font-family;

  .fl-pl-button-box {
    background-color: $secondary-color;
    box-shadow: -2px 0 0 0 $border-color, 2px 0 0 0 $border-color,
      0 -2px 0 0 $border-color, 0 2px 0 0 $border-color;
    width: 40%;
    padding: 5px 130px 5px 5px;
    text-align: center;
    :hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    .fl-pl-button {
      font-family: $main-font-family;
      font-weight: bold;
      font-size: clamp(0.8rem, 0.8vw, 1rem);
    }
  }

  .intro-box {
    padding: 20px;
    box-shadow: $pixel-box-shadow;
    font-family: $main-font-family;
    background-color: $secondary-color;
    font-size: clamp(0.8rem, 1vw, 1rem);
    line-height: 1.5;
    margin-bottom: 1rem;

    .intro-title {
      font-weight: normal;
      font-size: clamp(1.2rem, 2vw, 2rem);
      line-height: 1;
    }

    .intro-bold-words {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 820px) {
  #intro-filtres-box {
    display: none;
  }
}
