#intro-filtres-box {
  background-color: $primary-color;
  max-width: 20%;
  // height: 75vh;
  // position: fixed;
  left: 2%;
  // top: 16%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // gap: 5%;

  .intro-box {
    margin: 0px 10% 20px 10%;
    position: relative;
    // top: 5%;
    max-width: 80%;
    padding: 20px;
    
    padding-bottom: 50px;
    box-shadow: $pixel-box-shadow;
    font-family: $main-font-family;
    background-color: $secondary-color;
    font-size: clamp(0.5rem, 1vw, 1rem); 
    line-height: 1.5;

    .intro-title {
      font-weight: normal;
      font-size: clamp(1rem, 2vw, 2rem); 
      line-height: 1;
    }

    .intro-bold-words {
      font-weight: bold;
      
    }
  }
}
