@import "./config.scss";

.LoadingPage {
  width: 100vw;
  height: 100vh;

  .title {
    display: flex;
    justify-content: center;
    #pokemon {
      width: 35%;
      height: 25%;
      margin: 60px 0px 25px 0px;
    }
  }

  .pokeballAnim {
    cursor: pointer;
    flex-direction: column;
    width: min-content;
    padding-left: 5%;

    #pokeball-top {
      width: 200px;
      transform: translate(0, 2px);
    }
    #pokeball-bottom {
      width: 200px;
      transform: translate(-0.7px, -2px);
    }
  }

  .Caracters {
    display: flex;
    height: 40%;
    margin: 0 auto 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;

    .sacha {
      height: 100%;
    }

    .pikachu {
      height: 90%;
    }
  }
  .catch {
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    align-items: flex-end;
    justify-content: center;
    color: $bg-blue-color;
    font-family: $main-font-family;
  }
}
