.playlist-page {
  background-color: $primary-color;
  display: flex;
  padding-top: 30px;
}

.left-container {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .intro-playlist-box {
    padding: 20px;
    box-shadow: $pixel-box-shadow;
    font-family: $main-font-family;
    background-color: $secondary-color;
    font-size: clamp(0.8rem, 1vw, 1rem);
    line-height: 1.5;
    max-width: 100%;
    max-height: 30vh;
    margin-left: 5%;

    .intro-playlist-title {
      font-weight: bold;
      font-size: clamp(1.2rem, 2vw, 2rem);
      line-height: 1;
    }

    .intro-bold-words {
      font-weight: bold;
    }
  }

  .vaporeon {
    width: 18rem;
    height: 18rem;
  }
}

.playlist-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
  .audio-controls {
    margin: 0 auto;
    width: 50%;
  }
}

.playlist-box {
  box-shadow: $pixel-box-shadow;
  overflow: scroll;
  max-height: 40vh;
  width: 60%;
  margin: auto;
  background-color: $secondary-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  .playlist-title {
    background-color: #ffffff7d;
    text-align: center;
    text-shadow: 5px 5px 5px #7f7f7f;
    padding: 10px;
  }

  .playlists {
    height: 100%;
    width: 50%;
    font-size: clamp(1rem, 1vw, 1.5rem);
  }

  .playlist {
    list-style-type: none;
    padding-left: 0.5rem;
    padding-top: 5px;
    line-height: 1.5;
    background-color: #ffffff7d;
    .playlist-button {
      font-family: $main-font-family;
      font-size: clamp(1rem, 1vw, 3rem);
      font-weight: bold;
      color: rgb(0, 0, 0);
      text-shadow: 5px 5px 5px #7f7f7f;
    }
    .playlist-button:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 820px) {
  .intro-playlist-box {
    display: none;
  }
  .vaporeon {
    display: none;
  }
  .playlist-box {
    width: 90%;
    background-size: cover;
    background-position: 70% 50%;
  }
  .playlists {
    min-width: 100%;
  }
  .playlist {
    background-color: transparent;
  }
}
