:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primary-color: #F9E8F8;
    --secondary-color: #EFEEEE;
    --main-font-family: 'Courier New', Courier, monospace;
    --pixel-box-shadow: -8px 0 0 0 #646363,
                        8px 0 0 0 #646363,
                        0 -8px 0 0 #646363,
                        0 8px 0 0 #646363; 
}