$primary-color: #f9e8f8;
$secondary-color: #efeeee;
$border-color: #646363;
$bg-blue-color: #2854bd;
$main-font-family: "Courier New", Courier, monospace;
$pixel-box-shadow: -8px 0 0 0 $border-color, 8px 0 0 0 $border-color, 0 -8px 0 0 $border-color,
  0 8px 0 0 $border-color;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #f9e8f8;
}
