@import "./config.scss";
@import "./deck";
@import "./filtres";
@import "./filtreType";
@import "./intro";
@import "./header";
@import "./decklist";
@import "./cards";
@import "./landingPage";
@import "./slideFilters";
@import "./MyDeck/myDeckContainer";
@import "./MyDeck/myDeck";
@import "./MyDeck/introMyDeck";
@import "./MyDeck/favCard";

* {
  text-decoration: none;
  list-style: none;
  font-family: "Courier New", Courier, monospace;
}
