@import "../config.scss";

.MyDeckContainer {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  overflow-y: scroll;
  width: 70%;
  height: 75vh;
  box-shadow: -8px 0 0 0 $border-color, 8px 0 0 0 $border-color,
    0 -8px 0 0 $border-color, 0 8px 0 0 $border-color;
  background-color: $secondary-color;
}

.favPokeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
  row-gap: 2rem;
}