@import "../config.scss";

.holders {
  display: flex;
  justify-content: space-around;
}

.select-search {
  width: 250px;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  margin: 20px 20px 20px 0px;
  padding: 5px;
  box-shadow: -2px 0 0 0 $border-color, 2px 0 0 0 $border-color,
    0 -2px 0 0 $border-color, 0 2px 0 0 $border-color;

}
